*{
  margin: 0;
  padding: 0;
}

body{
  text-align: center;
  align-content: center;
  font-family: Sans-serif;
  font-size: 1.3em;
  vertical-align: middle;
}

a{
  text-decoration: none;
  margin: 2px;
}

a:hover{
  color: darkorange;
  text-shadow: 1px 1px black;
}

#container{
  background-color: #fff;
  align-content: center;
  width: 80%;
  height: 100%;
  margin: 0 10%;
}

#main-table {
  background: #186a2bcb;
  border-radius: 9px;
}

#menu{
  height: 3em;
  vertical-align: middle;
  background: #ab43e7;
  padding: 1%;
}

.main-news {
  width: 33%;
  float: left;
}

