* {
    margin: 0;
    padding: 0;
    text-align: justify;
    font-family: Helvetica, Verdana, sans-serif;
}

BODY {
   align-content: center;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 1% 3%;
}

a:hover{
    color: rgba(132, 0, 255, 0.473);
    background: #3cff0093;
}

a:active{

}

article > p {
    padding: 10px;
}

article {

    font-size: 18px;
    word-spacing: 7px;
    line-height: 130%;
}

#menu{
    background: #2b5797;
    color: #fff;
    align-content: center;
    font-size: 1.5em;
    text-transform: uppercase;
    vertical-align: middle;
    padding: 1%;
}

#container {
    margin: 0 auto;
    text-align: justify;

    width: 70%;
}

#article-header{
    height: 500px;
    width: 900px;
    background-image: url("../resources/imgs/serials_2019.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
    position: relative;
    /* block-size: 100%; */
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + #container{
    padding-top: 60px;
}

.keywords{
    font-weight: bold;
    font-style: italic;
}